<h1>Editing assessor</h1>

<% form_for(@assessor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @assessor %> |
<%= link_to 'Back', assessores_path %>