<h1>Editing recurso</h1>

<% form_for(@recurso) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @recurso %> |
<%= link_to 'Back', recursos_path %>