<h1>Listing recursos</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @recursos.each do |recurso| %>
  <tr>
    <td><%=h recurso.nome %></td>
    <td><%= link_to 'Show', recurso %></td>
    <td><%= link_to 'Edit', edit_recurso_path(recurso) %></td>
    <td><%= link_to 'Destroy', recurso, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recurso', new_recurso_path %>