<h1>Listing bolsistas</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @bolsistas.each do |bolsista| %>
  <tr>
    <td><%=h bolsista.nome %></td>
    <td><%= link_to 'Show', bolsista %></td>
    <td><%= link_to 'Edit', edit_bolsista_path(bolsista) %></td>
    <td><%= link_to 'Destroy', bolsista, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bolsista', new_bolsista_path %>