<h1>Listing avaliacoes</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @avaliacoes.each do |avaliacao| %>
  <tr>
    <td><%=h avaliacao.nome %></td>
    <td><%= link_to 'Show', avaliacao %></td>
    <td><%= link_to 'Edit', edit_avaliacao_path(avaliacao) %></td>
    <td><%= link_to 'Destroy', avaliacao, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New avaliacao', new_avaliacao_path %>